*{
  margin: 0;
}
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.login-form-container {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.login-title { 
  font-size: 3rem;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #cfcfcf;
}

.login-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: white;
}

input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1.2rem;
}

button {
  background-color: #fcff5a;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}


.register-link {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #fcff5a;
}

.title-text {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 3rem;
  font-family: cursive;
  font-style: oblique italic;
  font-weight: 700;
  color: #fcff5a;
}

.login-page-container{
  background-image: url("./Images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.register-page-container{
  background-image: url("./Images/background-register.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-container {
  background-color: rgb(0, 0, 0, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  justify-content: flex-start;
  margin: 0 auto;
}


.register-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.alert {
  color: white;
}

.menu {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin: 0 20px;
  position: relative;
}

.menu__item a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__item:hover > .menu__sublist {
  display: block;
}

.menu__sublist {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.menu__subitem {
  margin: 0;
  width: 100%;
}

.menu__subitem a {
  color: #000;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu__subitem:hover {
  background-color: #f2f2f2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 300px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
}

.search-button {
  width: 40px;
  height: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* adjust to fit your logo size */
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}


